@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.bg-purple-100 {
  background-color: #E0E0FF;
}

.bg-purple-200 {
  background-color: #C0C0FF;
}

.bg-purple-300 {
  background-color: #A0A0FF;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
